{% extends 'base.admin.html.twig' %}

{% block body %}

    {{ dump(form) }}
    {% set action = form.vars.value.id %}




    <h2>{{ 'category.category' | trans }}</h2>
    {# debut du formulaire #}
    {{ form_start(form, { 'attr':{ 'novalidate':'novalidate'} } ) }}

    <p>
        {{ form_label(form.name, 'name' | trans | capitalize ~ ':' ) }}
        {{ form_widget(form.name) }}
    </p>

    {%  set buttontext = 'submit.category' | trans({}, 'forms') %}

    {% if action is not null %}
        <input type="submit" value="{{ 'submit.update' | trans({'%value%' : buttontext},'forms') }}">
    {% else %}
        <input type="submit" value="{{ 'submit.create' | trans({'%value%' : buttontext},'forms') }}">
    {% endif %}

    {{ form_errors(form.name) }}
    {# fin du formulaire #}
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}

{% endblock %}
